[tool.poetry]
name = "giskard-hub"
version = "1.2.0"
description = "The giskard_hub library allows you to interact with the Giskard Hub, a platform that centralizes the validation process of LLM applications, empowering product teams to ensure all functional, business & legal requirements are met, and keeping them in close contact with the development team to avoid delayed deployment timelines."
authors = ["Giskard Team <hello@giskard.ai>"]
readme = "README.md"
packages = [{ include = "giskard_hub", from = "src" }]
repository = "https://github.com/Giskard-AI/giskard-hub"
homepage = "https://github.com/Giskard-AI/giskard-hub"
documentation = "https://docs-hub.giskard.ai/"

[tool.poetry.dependencies]
python = ">=3.9,<4.0"
httpx = ">=0.27.0,<1" # See https://python-poetry.org/docs/dependency-specification/#caret-requirements
rich = "^13.7.1"
python-dateutil = "^2.9.0.post0"


[tool.poetry.group.dev.dependencies]
sphinxawesome-theme = "^5.1.4"
myst-parser = "^3.0.1"
notebook = "^7.2.0"
nbsphinx = "^0.9.4"
black = "^24.4.2"
isort = "^5.13.2"
pylint = "^3.2.2"
sphinx-click = "^6.0.0"
sphinx-autobuild = "^2024.4.16"
sphinx-autodoc-typehints = "^2.1.1"
sphinx-design = "^0.6.0"
pytest = "^8.3.4"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"
extend_skip_glob = [".history/*"]

[tool.pylint.reports]
reports = "y"
output-format = "colorized"

[tool.pylint."MESSAGES CONTROL"]
disable = ["line-too-long", "missing-module-docstring"]
