[tool.poetry]
name = "giskard-hub"
version = "0.1.2"
description = "The giskard_hub library allows you to interact with the Giskard Hub, a platform that centralizes the validation process of LLM applications, empowering product teams to ensure all functional, business & legal requirements are met, and keeping them in close contact with the development team to avoid delayed deployment timelines."
authors = ["Bazire <bazire@giskard.ai>"]
readme = "README.md"
packages = [{ include = "giskard_hub", from = "src" }]
repository = "https://github.com/Giskard-AI/giskard-hub"
homepage = "https://github.com/Giskard-AI/giskard-hub"
documentation = "https://docs-hub.giskard.ai/"

[tool.poetry.dependencies]
python = ">=3.9,<4.0"
typer = "^0.12.3"
requests = "^2.32.2"


[tool.poetry.group.dev.dependencies]
sphinxawesome-theme = "^5.1.4"
myst-parser = "^3.0.1"
notebook = "^7.2.0"
nbsphinx = "^0.9.4"
black = "^24.4.2"
isort = "^5.13.2"
pylint = "^3.2.2"
sphinx-click = "^6.0.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"
extend_skip_glob = [".history/*"]

[tool.pylint.reports]
reports = "y"
output-format = "colorized"

[tool.pylint."MESSAGES CONTROL"]
disable = [ "line-too-long", "missing-module-docstring"]
