name: Update docs

on:
  workflow_dispatch:
  push:
    branches:
      - main
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: docs
          fetch-depth: 0
          token: ${{ secrets.RELEASE_PAT_TOKEN }} # Needed to trigger other actions

      - name: Configure git
        run: |
          git config --global user.name 'BotReleaser'
          git config --global user.email 'bot.releaser@users.noreply.github.com'

      - name: Merge latest code
        run: |
          git fetch --prune
          git merge origin/${{ github.ref_name }}

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@b75a909f75acd358c2196fb9a5f1299a9a8868a4 # v6.7.0
        with:
          python-version: "3.12" # giskard 2.18.0 requires python <3.13

      # REQUIRED BY NBSphinx
      - name: Install Pandoc
        run: |
          sudo apt-get update
          sudo apt-get install -y pandoc

      - name: Install deps
        run: make setup

      - name: Build the docs
        run: make doc

      - name: Adding built docs
        run: |
          git add -f ./docs
          git commit -m "Docs for latest tag" --allow-empty

      - name: Push to docs
        run: |
          git push origin docs
